<div class="container">
  <app-beta></app-beta>
  <div class="row justify-content-center items-align-center">
    <div class="col col-lg-6">
      <h1>Hello</h1> 
      <div class="text-center">
        <h1 [hidden] = "isCross" class="uppercase text-danger">Player One Turn</h1>
        <h1 [hidden] = "!isCross" class="uppercase text-danger">Player Two Turn</h1>        
      </div>
    </div>
    <div class="col col-lg-6" style="margin-top: 10px;">
      <h1 class="text-uppercase" *ngIf="winMessage">Game Over {{winMessage}}</h1>
      <button class="btn btn-danger text-uppercase  pl-5 pr-5" (click)="reloadGame()">Reload Game</button>
    </div>
    <div class="grid">
      <div *ngFor = "let item of itemsArray; index as i">
        <div class="card">
          <div class="card card-box" (click)="handleClick(i)">
            <app-icon [iconName] = 'item'></app-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
